build --java_runtime_version=remotejdk_21
build --java_language_version=21
build --tool_java_runtime_version=remotejdk_21
build --tool_java_language_version=21

build --experimental_strict_java_deps=strict
build --explicit_java_test_deps

# Make sure we get something helpful when tests fail
test --verbose_failures
test --test_output=errors
